.wx-item.wx-GAOa4kDV {
  display: flex;
  flex-direction: column;
  width: 210px;
  height: 200px;
  margin: 0 20px 20px 0;
  overflow: hidden;
  cursor: pointer;
  background-color: var(--wx-background);
  border-radius: 6px;
  box-shadow: var(--wx-fm-box-shadow);
}

.wx-preview.wx-GAOa4kDV {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.wx-preview.wx-GAOa4kDV i {
  font-size: 105px;
  color: var(--wx-color-primary);
}

.wx-preview.wx-GAOa4kDV i:before {
  line-height: 105px;
}
.wx-file-preview.wx-GAOa4kDV .wx-card-preview.wx-GAOa4kDV {
  height: 154px;
  width: 100%;
}

.wx-file-icon.wx-GAOa4kDV .wx-card-preview.wx-GAOa4kDV {
  height: 100px;
  width: 100px;
}

.wx-selected.wx-GAOa4kDV {
  outline: 1px solid var(--wx-color-primary);
}
.wx-info.wx-GAOa4kDV {
  display: flex;
  align-items: center;
  height: 46px;
  padding: 0 6px 3px 10px;
}
.wx-folder-name.wx-GAOa4kDV {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 80%;
}
.wx-more.wx-GAOa4kDV {
  display: flex;
  padding: 4px;
  line-height: 1;
}

.wx-more.wx-GAOa4kDV i {
  font-size: 24px;
  width: 24px;
  height: 24px;
  color: var(--wx-icon-color);
}

.wx-more.wx-GAOa4kDV:hover {
  background-color: var(--wx-button-background);
  border-radius: 50%;
}
.wx-info.wx-GAOa4kDV .wx-type.wx-GAOa4kDV {
  color: var(--wx-color-font-alt);
  font-size: 12px;
  height: 18px;
}
.wx-file-name.wx-GAOa4kDV {
  display: flex;
  align-items: center;
  flex-grow: 1;
  max-width: 160px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.wx-name.wx-GAOa4kDV {
  display: inline-block;
  font-size: 14px;
  font-weight: var(--wx-font-weight-md);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.wx-back-item.wx-GAOa4kDV {
  width: 100%;
  margin: 6px 0;
  font-size: 12px;
  line-height: 18px;
}
.wx-back.wx-GAOa4kDV {
  display: flex;
  width: fit-content;
  color: var(--wx-color-primary);
  user-select: none;
}

.wx-back.wx-GAOa4kDV i {
  display: flex;
  align-items: center;
  margin-right: 8px;
  font-size: 20px;
}

.wx-back.wx-GAOa4kDV i,
.wx-back.wx-GAOa4kDV span {
  cursor: pointer;
}
