.wx-cards.wx-iyjASZCY {
  flex-grow: 1;
  height: 100%;
  border-top: none;
  padding: 0 20px;
  position: relative;
  overflow-y: auto;
  outline: none;
}
.wx-not-found-text.wx-iyjASZCY {
  text-align: center;
  color: var(--wx-color-font-alt);
}
.wx-not-found.wx-iyjASZCY {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  height: 100%;
}
