.wx-breadcrumbs.wx-SNY5LTYx {
  flex: 0 0 48px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 4px;
  max-width: 100%;
  border-radius: 6px 6px 0 0;
  background-color: var(--wx-background);
  font-size: 16px;
  overflow: hidden;
}

.wx-refresh-icon.wx-SNY5LTYx {
  margin-right: 4px;
}

.wx-item.wx-SNY5LTYx {
  cursor: pointer;
  font-size: 16px;
  font-weight: 300;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.wx-item.wx-SNY5LTYx:hover {
  color: var(--wx-color-primary);
}
