.wx-panels.wx-L55BfJa2 {
  display: flex;
  width: 100%;
  max-width: 100%;
  height: 100%;
}
.wx-item.wx-L55BfJa2 {
  flex-grow: 1;
  flex-shrink: 0;
  width: calc(50% - 10px);
}
.wx-item.wx-L55BfJa2:first-child {
  margin-right: 10px;
}
