.wx-search.wx-GDJvtROw {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  flex-shrink: 1;
  padding: 10px;
  padding-top: 0;
}
.wx-toolbar.wx-GDJvtROw {
  flex: 0 0 48px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 12px;
  max-width: 100%;
  background-color: var(--wx-background);
  border: 1px solid var(--wx-border);
}

.wx-text.wx-GDJvtROw {
  font-size: 16px;
}

.wx-back-icon.wx-GDJvtROw {
  margin-right: 4px;
}
