.wx-wrapper.wx-FlucfALM {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--wx-background);
  border-radius: 6px;
  box-shadow: var(--wx-fm-box-shadow);
}

.wx-button.wx-FlucfALM {
  padding: 8px 8px 0;
}

.wx-tree.wx-FlucfALM {
  padding-top: 8px;
  flex-grow: 1;
  overflow-x: auto;
}
