.wx-toolbar.wx-5PZQQztG {
  flex: 0 0 var(--wx-fm-toolbar-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
  max-width: 100%;
  background-color: var(--wx-background);
  box-shadow: var(--wx-fm-box-shadow);
  gap: 8px;
}

.wx-left.wx-5PZQQztG,
.wx-right.wx-5PZQQztG {
  display: flex;
}

.wx-left.wx-5PZQQztG {
  align-items: center;
  width: 35%;
  justify-content: space-between;
}
.wx-left-narrow.wx-5PZQQztG {
  width: 70%;
}
.wx-name.wx-5PZQQztG {
  margin-right: 20px;
  font-size: 16px;
  font-weight: var(--wx-font-weight-md);
}

.wx-sidebar-icon.wx-5PZQQztG {
  margin-right: 20px;
}

.wx-preview-icon.wx-5PZQQztG {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;

  --wx-button-icon-size: 22px;
  --wx-button-line-height: 25px;
  --wx-button-padding: 4px 10px;
  --wx-button-border-radius: 6px;
}

.wx-preview-icon.wx-5PZQQztG i.wx-5PZQQztG {
  position: relative;
  display: inline-block;
  vertical-align: top;
  font-size: var(--wx-button-icon-size);
  line-height: 1;
  height: var(--wx-button-line-height);
}

.wx-preview-icon.wx-5PZQQztG i.wx-5PZQQztG:before {
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  color: var(--wx-fm-button-font-color);
}

.wx-modes.wx-5PZQQztG {
  --wx-button-font-color: var(--wx-fm-button-font-color);
  --wx-segmented-padding: 1.5px;
  --wx-segmented-background-hover: linear-gradient(
    rgba(0, 0, 0, 0.1) 0%,
    rgba(0, 0, 0, 0.1) 100%
  );
  --wx-button-icon-size: 22px;
  --wx-segmented-border-radius: 6px;
  --wx-segmented-border: none;
}
