.wx-wrapper.wx-SSaVhET7 {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  box-shadow: var(--wx-fm-box-shadow);
  border-radius: 6px;
}

.wx-list.wx-SSaVhET7 {
  height: calc(100% - 50px);
}
.wx-list.wx-SSaVhET7 > .wx-upload-area .wx-grid {
  --wx-table-cell-border: var(--wx-fm-grid-border);
  --wx-table-header-border: var(--wx-fm-grid-border);
  --wx-table-header-cell-border: var(--wx-fm-grid-border);
}
.wx-list.wx-SSaVhET7 > .wx-upload-area .wx-body .wx-each-cell {
  border-right: none;
}
.wx-list.wx-SSaVhET7
  > .wx-upload-area
  .wx-header
  .wx-cell:first-child
  .wx-text {
  padding: 0 6px;
}
.wx-list.wx-SSaVhET7 > .wx-upload-area .wx-table {
  border-radius: 0 0 6px 6px;
}

.wx-list.wx-active.wx-SSaVhET7 > .wx-upload-area .wx-grid,
.wx-list.wx-SSaVhET7 > .wx-upload-area.wx-active .wx-grid {
  --wx-table-cell-border: 1px solid var(--wx-color-primary);
}
.wx-list.wx-active.wx-SSaVhET7 > .wx-upload-area .wx-row {
  --wx-table-cell-border: var(--wx-fm-grid-border);
}

.wx-list.wx-SSaVhET7 > .wx-upload-area.wx-active .wx-row {
  background: var(--wx-color-primary-selected);
  --wx-table-cell-border: 1px solid var(--wx-color-primary-selected);
}
/*switch off focus due to filamanager own navigation system*/
.wx-list.wx-SSaVhET7 > .wx-upload-area .wx-grid .wx-cell {
  outline: none;
}

/* temp hack to align toolbar and table body (with 1.75px full match) */
.wx-list.wx-SSaVhET7 > .wx-upload-area {
  border-right: 1px solid transparent;
}
