.wx-search-input.wx-lUZMtgT1 {
  position: relative;
  width: 100%;
  height: 30px;
}

.wx-icon.wx-lUZMtgT1 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 4px;
  bottom: 4px;
  right: 1px;
  width: 25px;
  color: #94a1b3;
  font-size: 20px;
  cursor: pointer;
}

.wx-text.wx-lUZMtgT1 {
  display: block;
  width: 100%;
  height: 30px;
  padding-left: 12px;
  border: var(--wx-border);
  outline: none;
  background-color: var(--wx-background);
  border-radius: 2px;
}

.wx-text.wx-lUZMtgT1::placeholder {
  color: #94a1b3;
}

.wx-text.wx-lUZMtgT1:focus {
  border: 1px solid var(--wx-color-primary);
}
